body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 30px;
}

.image {
  object-fit: cover;
  border-radius: 3%;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}
.coursetitle {
  margin-top: 30px;
}

.weekgrid{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(180px,0.2fr));
  grid-gap: 5px;
}